.vscode
WorkspaceSettings.xcsettings

*.dll
*.bak
*.orig
*Resource.[Dd]esigner.cs
Expressions.xcexplist

.DS_Store
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
[Oo]ut/
.vs/
.nuget/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc
*.csproj.user
*.DotSettings.user

# Windows Store app package directory
AppPackages/
packages/
.externalNativeBuild/
release/
.gradle/
.signing/
.idea/
.mfactor/
codeStyles/
.meteor/

encodings.xml
misc.xml
modules.xml
vcs.xml
workspace.xml

com_crashlytics_export_strings.xml
local.properties
tasks.xml
.name
compiler.xml
profiles_settings.xml
scope_settings.xml
*.iml
.Trashes
ehthumbs.db
Thumbs.db
build_file_checksums.ser
Project.xml
inspectionProfiles/
misc.xml
dictionaries/

*.nupkg
